@import url(https://fonts.googleapis.com/css?family=EB+Garamond%7CWork+Sans:400,700); @import url(https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@400;900); @import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css); /**/
* {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
  cursor: default
}

body,html,main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

body,html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center
}

body {
  font-family: arial;
  color: var(--color-font);
  background: var(--background);
  box-shadow: inset 0 0 6em var(--shadow);
  font-size: clamp(1px, 5.2vw, 2rem)
}

main {
  width: 100%;
  height: 100%;
  overflow: auto;
}

a {
  color: var(--a);
  margin-right: .1em;
  text-decoration: none
}

a.open {
  color: var(--a-open);
  font-weight: 700
}

.views {
  background: red;
  color:#fff;
  font-size: .7em;
  border-radius: .1em;
  padding:.3em .2em;
  font-weight:900;
  margin: .2em 0;
  display: inline-block;
  vertical-align: middle 
}

.moreinfo {
  padding: 1em .5em;
  width: 100%;
  text-align: center;
  font-weight: 200;
  font-size: .7em
}

.moreinfo.sticky {
  position: sticky;
  bottom: 0;
  margin: 0;
  z-index: 70;
  background: var(--background)
}

body a.blog {
  overflow-wrap: anywhere;
  text-overflow: ellipsis;
  position: relative;
  background: var(--lazy);
  overflow: hidden;
  max-width: 19em;
  padding: .2em !important;
  margin: .3em auto !important;
  font-size: 1.1em;
  font-weight: 900;
  line-height: 1em;
  display: flex;
  align-items: center;
  width: calc(100% - 1em);
  border-radius: .2em;
}

a.blog img {
  display: inline-block;
  margin: 0 1em 0 0;
  width: 10em;
  min-width: 10em;
  aspect-ratio: 1/1;
  background: var(--lazy);
  object-fit: cover;
  border-radius: .2em
}

header, article, p, figure, h1, h3, h4 , .blog, blockquote, i, article>strong {
  overflow-wrap: break-word;
  display: block;
  width: 100%;
  margin: auto
}

header {
  padding: 1em 1em .1em;
  max-width: 33em;
  z-index: 5
}

header p {
  font-size: .7em;
  color: #acacac
}

article {
  flex: 1;
  max-width: 30em;
  padding: .2em 0 1em;
  counter-reset: head3 1;
  z-index: 5;
  transition: .6s
}

article :is(a,b,strong,h1,h3,h4,p,i,figcaption) {
  overflow-wrap: anywhere;
  text-overflow: ellipsis
}

article :is(p,h3,h4,.blog,blockquote, article>strong),h1 {
  width: calc(100% - 2.5em);
  margin: auto
}

p {
  max-width: 23em;
  font-weight: 300;
  line-height: 1.4em;
  margin-bottom: 1em!important
}

h1 {
  overflow-wrap: break-word;
  font-size: 2em;
  font-family: asap;
  line-height: 1.1em;
}

header h1 {
  padding: .2em 0;
  display: block;
  color: var(--color-font);
  width: 100%;
  max-width: 12em;
  align-items: center
}

header nav {
  max-width: 20em;
  margin: auto
}

header nav a {
  padding: .1em .5em 1em 0;
  display: inline-block
}

article figure {
  padding-top: 1em;
  max-width: 23em;
  width: calc(100% - 1em);
  margin: auto
}

figcaption {
  margin-bottom: .5em;
  padding: .4em;
  font-size: .8em;
  font-weight: 400;
  text-align: center;
  width: 100%;
  color: var(--figcaption)
}

img {
  width: 100%;
  display: inline-block;
  font-size: .5em;
  min-height: 1em
}

article :is(h3, article>strong) {
  overflow-wrap: break-word;
  font-size: 1.6em;
  padding: .1em 0;
  font-family: asap;
  width: calc(100% - 1em)!important;
  max-width: 15em
}

h4 {
  overflow-wrap: break-word;
  font-size: 1.2em;
  padding: .2em .3em;
  font-family: asap;
  font-weight: 600;
  width: calc(100% - 1em)!important;
  max-width: 20em
}

article>h3 {
  counter-increment: head3;
  counter-reset: head4;
}

article>h3:before {
  content: counter(head3) " ";
}

article>h4 {
  counter-increment: head4;
}

article>h4:before {
  content: counter(head3)"." counter(head4) " ";
}

blockquote {
  max-width: 22em;
  overflow-wrap: break-word;
  position: relative;
  font-style: italic;
  border-left: .5em solid #007BFF;
  padding: 2em .5em;
  margin-bottom: 1em!important;
  z-index: 1;
  background-color: var(--blockquote);
  quotes: "“" "”" "‘" "’"
}

blockquote i {
  overflow-wrap: break-word;
  position: relative;
  z-index: 4
}

blockquote::before {
  content: open-quote;
  position: absolute;
  top: 0;
  left: .5em;
  z-index: 0;
  font-size: 3em;
  color: #007BFF;
  vertical-align: bottom
}

blockquote::after {
  content: close-quote;
  position: absolute;
  bottom: -.6em;
  left: .5em;
  font-size: 3em;
  color: #007BFF;
  vertical-align: middle
}

article pre {
  overflow-wrap: normal !important;
  text-overflow: initial;
  background-color: var(--pre);
  width: calc( 100% - 1em);
  color: #dcdcdc;
  padding: 20px;
  margin: .4em auto;
  border-radius: 8px;
  overflow-x: auto;
  white-space: pre-wrap;
  font-family: 'Fira Code', monospace;
  font-size: .7em;
  box-shadow: 0 0 .5em rgba(0, 0, 0, 0.5)
}

code {
  background: var(--code);
  overflow-wrap: break-word;
  max-width: 100%;
  font-size: .7em;
  padding: .2em;
  box-shadow: 0 0 1px var(--color-font)
}

ul {
  max-width: 23em;
  list-style-type: none;
  padding: .5em;
  margin: .3em auto
}

ul li {
  overflow-wrap: break-word;
  padding: .5em .7em;
  margin-bottom: .2em;
  font-family: asap
}

ul ul {
  margin-left: 20px
}

footer .moreinfo {
  padding: .1em
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: .5em;
  background: var(--footer);
  box-shadow: 0 0 1px #000;
  position: sticky;
  bottom: 0;
  border: 0;
  outline: 0;
  z-index: 10;
  margin: 0
}

.bi-rocket-fill {
  white-space: nowrap;
  display: inline-block;
  font-weight: 900
}

footer a {
  padding: .2em .5em
}

@media(max-width: 500px) {
  body {
    font-size: clamp(1px, 5.6vw, 2rem)
  }

  footer {
    font-size: .9em
  }
}

:root {
  --background: #fcfcfc;
  --shadow: #dcdcdc;
  --color-font: #2a2a2a;
  --pre: #212d3b;
  --code: #ececec;
  --blockquote: #f9f9f9;
  --lazy: #ededed;
  --lazy-img: #777;
  --figcaption: #acacac;
  --footer: #fff;
  --a: #07D;
  --a-open: #222;
}

.dark-css {
  --background: #222;
  --shadow: #000;
  --color-font: #fff;
  --pre: #222;
  --code: #333;
  --blockquote: rgba(0,0,0,0.1);
  --lazy: rgba(0,0,0,0.3);
  --lazy-img: #dcdcdc;
  --footer: #212d3b;
  --a: dodgerblue;
  --a-open: #dcdcdc;
}
