#loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex: 1;
  text-align: center;
  padding: 1em;
}

#loader h1 {
  min-height: 1em;
  display: inline-block;
  text-align: center
}

#loader h2.code {
  font-size: 4em;
  padding: 0;
  margin: 0;
  font-family: arial
}

#loader div{
  text-align:center 
}

article :is(p,h1,h3,h4,i):focus ,.selecto {
  outline: solid 2px orange;
  border-radius: .1em;
  box-shadow: 0 0 .7em #111
}

article :is(p,h1,h3,h4,i):focus ~* {
  opacity: .2
}

.add, .add :is(nav,div) {
  width: 100%
}

.add div{
  display: flex;
  padding: .2em;
  justify-content: center 
}

.add div a{
  margin: .1em .5em;
  font-weight: 900
}
.add nav {
  display: flex;
  font-size: 1.4em;
  margin: auto;
  padding: 0 .5em;
  max-width: 14em
}

.add nav a {
  color: var(--color-font);
  padding: .2em .2em;
  width: 100%
}

.add {
  position: sticky;
  z-index: 10;
  bottom: 0px;
  outline:0;
  background: var(--footer);
  box-shadow: 0 0 .2em #111;
}

.add .bi-trash{
  color: darkred
}

a#btnSave {
  color: green;
}

.menu-e {
  outline: 0;
  margin: auto;
  border-radius: .2em;
  border: outset 1px var(--bg-shadow);
  background: var(--background);
  color: var(--cl);
  box-shadow: 0 0 .2em #000;
  font-size: .9em;
  padding: .8em .5em;
  font-weight: 700;
  animation: a-pt .5s;
  display: flex
}

.menu-e label {
  padding: .1em .5em
}

.accion {
  outline: 0;
  margin: 1em auto;
  border-radius: .2em;
  border: outset 1px var(--bg-shadow);
  background: var(--background);
  color: var(--color-font);
  box-shadow: 0 0 .2em #000;
  max-width: 20em;
  width: 90%;
  font-size: 1.1em;
  padding: .8em .5em;
  animation: a-pt .5s
}

@keyframes a-pt {
  0% {
    margin-top: -80%
  }
}

.accion div {
  padding: .5em 0;
  font-weight: 300;
  overflow: auto
}

.accion>label {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.2em;
  padding: 0 .3em;
  color: #acacac
}

.accion :is(strong, strong-a) {
  font-weight: 600;
  display: inline-block;
  font-size: .7em;
  width: 100%
}

strong-a {
  color: red
}

.accion button {
  float: right
}

button {
  display: inline-block;
  vertical-align: middle;
  border: none;
  border-radius: 4px;
  color: white;
  padding: .3em;
  outline: 0;
  font-size: .7em;
  text-shadow: 0 0 1px #000;
  background-color: dodgerblue;
  border: 1px solid #595ef1bd;
  margin: .1em
}

.accion input {
  width: 100%;
  outline: 0;
  box-shadow: inset 0 0 5px #acacac;
  border: none;
  border-radius: .2em;
  padding: .4em;
  font-size: .9em;
  font-weight: 200;
  font-family: asap;
  background: #fff;
  color: #000;
  resize: none;
  margin: .2em 0
}

a.btn {
  display: inline-block;
  vertical-align: middle;
  border: none;
  border-radius: 4px;
  color: white;
  padding: .3em;
  outline: 0;
  font-size: 1em;
  font-weight: 500;
  text-shadow: 0 0 1px #000;
  background-color: dodgerblue;
  border: 1px solid #595ef1bd;
  margin: .1em
}

